.footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    color: #333;
}