.main-quiz-list {
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-quiz-list h1 {
    padding-bottom: 30px;
    color: var(--text-color2);
}

.main-quiz-list img {
    height: auto;
    max-width: 100%;
    width: 400px;
}

.main-quiz-list p {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    font-size: 14px;
}


.finish-quiz-list>h2 {
    color: var(--text-color2);
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    display: block;
    position: relative;
}

.finish-quiz-list>h2::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background-color: var(--primary-color);
    display: block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4px;
}

.main-each-finish-quiz {
    margin-top: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.each-finish-quiz {
    flex-basis: 24%;
}

.each-finish-quiz h2 {
    font-size: 18px;
    margin-top: 6px;
    color: var(--primary-color);
    text-align: center;

}

.each-finish-quiz img {
    width: 100%;
}

.each-finish-quiz ul {
    padding: 0;

}

.each-finish-quiz ul li {
    list-style: none;
    margin-top: 5px;
    font-size: 14px;
}

.specification_quizlist {
    font-style: italic;
}

.specification_quizlist>li>span {
    color: #34cc21;
    font-size: 16px;
}

.firstChild_quizlist>span {
    color: #34cc21;
    font-style: italic;
    font-size: 13px !important;
}


@media (max-width: 768px) {
    .main-quiz-list h1 {
        font-size: 20px;
    }

    .main-each-finish-quiz {
        flex-direction: column;
    }

    .each-finish-quiz {
        border-bottom: 0.6px solid rgba(184, 182, 182, 0.4);
        padding-top: 26px;
    }

    .each-finish-quiz:first-child {
        padding-top: 0px;
    }

    .each-finish-quiz:last-child {
        border: none;
    }

}