:root {
    --text-color: #fff;
    --text-color2: #9ACD32;
    --primary-color: #2A62D6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1,
h2 {
    margin: 0px;
}

.gray-dark {
    background-color: #1A1C1D;
    overflow: hidden;
}

.dark {
    background-color: #000;
    overflow: hidden;
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Loading css Start */
.parentLoader {
	min-height: 200px;
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #FF3D00;
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
/* Loading css end */