:root{
    --text-color:#fff;
    --text-color2:#9ACD32;
    --primary-color:#2A62D6;
}
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
h1,h2{
    margin: 0px;
}
.gray-dark{
    background-color: #1A1C1D;
    overflow: hidden;
}
.dark {
    background-color: #000;
    overflow: hidden;
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}