.container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

.img_gallary {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img_gallary img {
    cursor: pointer;

}

.img_gallary img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.preview {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.inner-preview {
    position: relative;
}

.inner-preview img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.inner-preview img.fade-out {
  opacity: 100;
}

.closeImg {
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer
}

.leftIcon {
    position: absolute;
    background-color: aliceblue;
    left: 0;
    padding: 5px;
    cursor: pointer;
}

.rightIcon {
    position: absolute;
    background-color: aliceblue;
    right: 0;
    padding: 5px;
    cursor: pointer;
}